[mysqld]
server-id=2
log-bin=mysql-bin
relay_log=/var/lib/mysql/mysql-relay-bin
#log_replica_updates=ON
expire_logs_days=10
binlog_cache_size=2M
max_binlog_size=100M
read_only=ON
lower_case_table_names=1
log_error=/var/log/mysql/error.log
